.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fa-heart-circle {
    color: white;
    background-color: black;
    opacity: 0.7;
    border-radius: 50px;
}

.jumbotron {
    background-image: url(https://a0.muscache.com/im/pictures/99f41c80-cadb-4db7-9d96-027b04c5dede.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.container {
    max-width: 1250px !important;
}