body {
    font-family: "Nanum Gothic", sans-serif !important;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fa-heart-circle {
    color: black;
    background-color: white;
    opacity: 0.7;
    border-radius: 50px;
}

.jumbotron {
    background-image: url(https://a0.muscache.com/pictures/2a5bb9ec-a33d-4913-a00b-16fc007b15c4.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    color: white;
    padding-top: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.jumbotron h1 {
    font-size: 65px;
}

.jumbotron p {
    font-size: 25px;
    font-weight: 250;
}

.container {
    max-width: 1600px !important;
}

.navbar .links a.nav-link {
    color: white !important;
    font-weight: 700;
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
}

.navbar .links a.nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.loginWithFB {
    padding: 10px !important;
    display: flex !important;
    align-items: center !important;
    width: fit-content !important;
    justify-content: center !important;
    margin: 0 auto !important;
    cursor: pointer;
}

.navbar .links div .dropdown-item {
    color: black !important;
}

#basic-navbar-nav {
    justify-content: flex-end;
}

.navbar-toggler {
    color: white;
}

.multi-select {
    width: 250px;
}

.optionContainer li:hover {
    background-color: lightgrey !important;
}

.react-multiple-carousel__arrow {
    top: 144px;
    background: white !important;
    color: black !important;
}