body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card {
    border: none !important;
}

.card-body {
    text-align: left;
}

.cardTitle {
    font-weight: bold;
}